.box1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    height: 50%;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

body {
    background-image: url("v904-nunny-012.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.3s;
}

.toggle-button::after {
    content: "";

    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;

    width: 15px;
    height: 15px;
    background-color: lightpink;
    border-radius: 50%;

    transform: translatex(0);
    transition: 0.3s;
}

.toggle-button:checked::after {
    transform: translatex(calc(100% + 2px));
    background-color: lightpink;
}

.toggle-button:checked {
    background-color: #ffffff;
}

.box3 div {
    display: flex;
    align-items: center;
}

.box1 + div1 {
    padding-left: 3px;
}

.box3 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.box1 div {
    width: 300px;
    height: 75px;
}

.text4 {
    font-family: "Book Antiqua";
    font-size: 22px;
    padding-right: 10px;

}

.text1 {
    font-size: xx-large;
    font-family: "Book Antiqua";
    flex-wrap: nowrap;
    width: 200px;
}

.text2 {
    font-size: xx-large;
    font-family: Calibri;
}

.box2 div {
    height: 50px;
}

.text3 {
    font-family: Dialog;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 15px 4px rgba(90, 87, 87, 0.06);
    border-radius: 10px;
    width: 100%;
}

.password1 {
    font-family: Dialog;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 15px 4px rgba(90, 87, 87, 0.06);
    border-radius: 10px;
    width: 100%;
}

.div1 {
    flex-wrap: nowrap;
    font-family: Calibri;
    font-size: x-large;
    padding-right: 0px;
}

.submit1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 100%;
    border: none;
    padding: 5px;
    background: #f6f6f6;
    box-shadow: inset 0px 20px 20px #ffffff;
    text-align: center;
}

box2 {
    width: 200px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: Dialog;

}

