
body {
    background-image: url("../resource/background-v.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'Poppins', sans-serif;
}

.content {
    margin: 15px auto;

    width: 700px;
    padding: 15px;
}
