.auth-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transform: translateY(-50px);
}

* {
    box-sizing: border-box;
}

.auth-user div {
    width: 350px;
}

body {
    background-image: url("../resource/background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: Open Sans, serif;
}

.toggle-button {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0;
    vertical-align: top;
    background: #ffffff;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.3s;
}

.toggle-button::after {
    content: "";

    display: inline-block;
    position: absolute;
    left: 3px;
    top: 2px;

    width: 15px;
    height: 15px;
    background-color: lightpink;
    border-radius: 50%;

    transform: translatex(0);
    transition: 0.3s;
}

.toggle-button:checked::after {
    transform: translatex(calc(100% + 2px));
    background-color: lightpink;
}

.toggle-button:checked {
    background-color: #ffffff;
}

.auth-title div {
    display: flex;
    align-items: center;
}

.auth-user + div1 {
    padding-left: 3px;
}

.auth-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}


.auth-title__type-choice__text {
    font-size: 22px;
    padding-right: 10px;

}

.auth-title__type-auth {
    font-size: xx-large;
    flex-wrap: nowrap;
}

.text2 {
    font-size: xx-large;
}

.box2 div {
    height: 50px;
}

.auth-input--margin {
    margin-bottom: 30px;
}

.auth-input-username {
    display: none;
}

.auth-input-password-again {
    display: none;
}

.auth-input__invalid-input {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
    font-size: 12px;
    visibility: hidden;
    color: rgba(199, 12, 12, 0.8);
}

.auth-input-transparent {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.89);
    outline: none;
    padding: 15px 15px 15px 30px;
    width: 100%;
    margin-bottom: 5px;
}

#auth-input-password-again__input {
    border-radius: 0 0 10px 10px;
}

#auth-input-mail__input {
    border-radius: 10px 10px 0 0;
}

.auth-input-password b {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
    font-size: 12px;
    color: rgba(199, 12, 12, 0.8);
}

.auth-input-password {
    margin-bottom: 30px;
}

.auth-input-password b {
    visibility: hidden;
}

.auth-input-password input {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.83);

    outline: none;
    padding: 15px 15px 15px 30px;
    width: 100%;
    margin-bottom: 5px;
}

.auth-title__type-choice {
    flex-wrap: nowrap;
    justify-content: flex-end;
    font-size: x-large;
}

#auth-input__log-in-button {
    background: rgba(217, 111, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    border-radius: 30px;
    border: none;
    padding: 12px;
    color: white;
    cursor: pointer;
    width: 50%;
}

.auth-input {
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
