
.content-button {
    display: grid;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
    cursor: pointer;
    height: 70%;
}

.content-button__text {
    margin-left: 10px;
}

.content-link {
    text-decoration: none;
}


.content {
    height: 30%;
}
