
.content-button {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    height: 70%;
    width: 70%;
}

.content-button__text {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

body {
    background-image: url("../resource/background-v.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    padding: 8px;
}

.header-profile {
    display: flex;
    align-items: center;
}

.header-profile__image {
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
}

.input-translate__button {
    margin-bottom: 30px;
    cursor: pointer;

}

.input-translate__input {
    margin-bottom: 30px;
}

.input-translate {
    width: 100%;
    height: 150px;
    display: grid;
}